body {
    text-align: center;
    color: black;
    background-image: url("");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: darkcyan;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 5vh;
    font-weight: bolder;
}

.introtext {
    margin: 0px;
    font-size: 2vh;
}

a:visited {
    color: black;
}

a {
    color: black;
    text-align: center;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    padding: 0%;
    width: 80vw;
    display: block;
}

.navlist {
    font-size: 0px;
    padding-left: 0px;
    margin-left: 0px;
    width: 80vw; 
    height: 20vh;
}

li {
    font-size: 3vh;
    list-style-position: inside;
    list-style-type: none;
    padding-left: 0px;
    margin-left: 0px;
    border: 5%;
    border-radius: 5px;
    width: 80vw;
    margin-left: 10vw;
}

.economie {
    background-color: rgb(180, 180, 10);
}

.staatsvorm {
    background-color: purple;
}

.handhaving {
    background-color: rgb(70, 70, 248);
}

.milieu {
    background-color: rgb(13, 177, 13);
}

.gezondheidszorg {
    background-color: white;
}

.onderwijs {
    background-color: red;
}

.technologie {
    background-color: aqua;
}

.godsdiensten {
    background-color: hotpink;
}