body {
    text-align: center;
    color: black;  
}



a:visited {
    color: black;
}

.backbutton {
    position: fixed;
    text-align: right;
}

.Economie {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../images/Global-Economy-for-DIGITAL.jpg");
}