body {
    text-align: center;
    color: black; 
    font-family: Arial, Helvetica, sans-serif; 
}

p {
    font-size: 3vw;
}

a, a:visited{
    color: black;
    display: block;
    font-size: 2vw;
}

.IntroReligie {
    display: grid;
    align-items: center; 
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
}

.backbutton {
    background-color: white;
    border-radius: 5px;
    width: 15vw;
    padding: 1%;
    position: fixed;
}

.Godsdiensten {
    background-color: cadetblue;
}

img {
    width: 80vw;
}

.Chris {
    background-color: lightblue;
    padding: 5%;
}

.Harry {
    background-color: greenyellow;
    padding: 5%;
}